*.Identifier
*.pyc
*.swp
*.npz
*.tfrecords
*.pth
*.log

venv/
AIenhancedPID/out/
AnomalyDetection/out/
CentralScripts/notebook_testing.py
ClassificationMobilenet/out/
ClassificationMobilenet/data/
KeywordDetection/out/
MNISTimageClassification/out/
ModelTemplate/out/
RemainingUsefulLifePrediction/model_checkpoints/
RemainingUsefulLifePrediction/out/
RemainingUsefulLifePrediction/data/
Tools/qemu/qemu_6250_tricore/
